<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>도서 추천 시스템</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <!--목록 부트스트랩-->
        
    </head>
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">School Pizza: Recommend Book System</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div style="opacity: 0.7;"class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Main</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/SchoolPizza">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <!--제목 부분-->
                    <div style = "position: absolute; top:300px">
                        <h1 class="text-white font-weight-bold">Recommend Book System</h1>
                        <hr class="divider" />
                    </div>
					<!--검색된 책 제목 출력 부분-->
                    <div style = "position: absolute; top:450px" class="search_name">
						<h2 style="color:#ffc107" class="font-weight-bold">Book Title: {{book.idx.name}}</h2>
                        <hr class="divider" />
					</div>
					<!--장르 출력 부분-->
                        <div style = "position: absolute; top:550px "class="search_name">
							<h2 style="color:#ffc107" class="font-weight-bold">Book Genre: {{book.idx.genre}}

                                </h2>
							<hr class="divider" />
						</div>
                    
                    <!--목록 넣을 부분 5개만 출력-->
                    <div style="color:beige; position:absolute; top: 700px; width: 55%;"class = list>
                        <div class="panel panel-default">
                            <ol style="opacity: 0.7;"class="list-group">
                                {% for rec in li %}

                                <a class="list-group-item" href="{% url 'details' rec.id %}">{{rec.name}}</a>

                                {% endfor %}
                            </ol>
                        </div>
                    </div>

                    <div style="position: fixed; bottom:0;" id="footer">
                        <p style="font-size:small; color:azure;"class="copyright">&copy; 충북대학교 소프트웨어학과 캡스톤디자인 16팀 스쿨피자 <a href="https://github.com/SchoolPizza">Github</a>.</p>
                    </div>
                </div>
            </div>
        </header>
       

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <!--목록 부트스트랩-->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </body>
</html>

<!--기존 소스코드

<h1> Book Title: {{book.idx.name}}</h1>
<h2> Book Genre: {{book.idx.genre}}</h2>
<h3>Recommended Books: </h3>
<ol>
	<li><a href="/recommend/{{book.rec1}}">{{li.0}}</a></li>
	<li><a href="/recommend/{{book.rec2}}">{{li.1}}</a></li>
	<li><a href="/recommend/{{book.rec3}}">{{li.2}}</a></li>
	<li><a href="/recommend/{{book.rec4}}">{{li.3}}</a></li>
	<li><a href="/recommend/{{book.rec5}}">{{li.4}}</a></li>
</ol>
-->

